
//- Edito Rentrée2024
//-mj-section(background-color='#E7ECf2' padding='0px')
mj-section(background-color='#ffffff' padding='0px')
    mj-column(width='100%')
        mj-image(padding='0' border='none' fluid-on-mobile='true' width='600px' src='https://i.ibb.co/ZRsJv5c5/news-Bandeau012025.jpg' alt="Christian Annaloro, responsable pédagogique d'Ecosup Assurance, la remise des diplômes dans la salle des cérémonies de la ville de Tourcoing")/
mj-section(background-color='#ffffff' padding-top='10px' padding-bottom='40px')
        mj-column(width='88%') 
            mj-text(padding-top='5px' padding-bottom='0' mj-class="T+2 cA+2" text-transform='uppercase') Édito
            mj-text(padding-top='5px' padding-bottom='5px' mj-class="T400 cT-0" font-style='italic') #[span(style="font-weight:700;color:#2D3748;") Quelle nouvelle année&nbsp;!]
            mj-text(padding-top='5px' padding-bottom='5px' mj-class="T400 cT-0" font-style='italic') Pleine de projets et d'ambitions, 2025 s'annonce riche en promesses. 
            mj-text(padding-top='5px' padding-bottom='5px' mj-class="T400 cT-0" font-style='italic') Et ça démarre maintenant&nbsp;! Je suis particulièrement heureux de vous annoncer le #[span(style="font-weight:700;color:#2D3748;") lancement de notre nouveau Mastère en Ingénierie Patrimoniale] (bac + 5). Ce diplôme, fruit de plusieurs mois de travail, ouvre de nouvelles perspectives à nos étudiants et nous positionne comme un acteur majeur de la formation supérieure dans notre région.
            mj-text(padding-top='5px' padding-bottom='5px' mj-class="T400 cT-0" font-style='italic') Mais ce n'est pas tout&nbsp;! Notre #[span(style="font-weight:700;color:#2D3748;") traditionnelle cérémonie de remise des diplômes] a été, une fois de plus, un moment fort en émotions. Voir nos étudiants rayonner de fierté après toutes ces années d'efforts est une immense récompense pour toute l'équipe et un bonheur immense pour leurs familles venues nombreuses malgré les conditions climatiques&nbsp;! 
            mj-text(padding-top='5px' padding-bottom='5px' mj-class="T400 cT-0" font-style='italic') Je tiens à remercier chaleureusement la ville de Tourcoing, en particulier Madame le Maire Doriane Becue pour votre soutien indéfectible et pour nous avoir accueillis dans les magnifiques salons de la mairie.
            mj-text(padding-top='5px' padding-bottom='5px' mj-class="T400 cT-0" font-style='italic') Ensemble, construisons l'avenir de nos étudiants&nbsp;!
            